<div class="container">
  <div class="jumbotron">
    <img class="banner" src="img-responsive"
      src="../../../assets/powerball-logo.svg">
    <h1>Ticket Generator</h1>
  </div>
  <div *ngIf="play" class="row button-row">
    <div class="col">
      <button class="btn btn-primary bottom-button" (click)="generateTicket()">Generate Numbers</button>
    </div>
  </div>
  <div class="row" *ngIf="play">
    <div class="panel panel-primary">
      <ng-container>
        <ul class="powerball well generated">
          <li class="ball" *ngFor="let t of play">
            <span>{{t}}</span>
          </li>
        </ul>
      </ng-container>
    </div>
  </div>
  <div *ngIf="recentDrawings" class="row">
    <div class="col">
      <p>Matches from past winning plays: <br/> <span class="bold">DEC 29th, 2023 - Today</span></p>
      <p>Last Drawing: 03 11 13 24 39 22</p>
      <p>Matched Plays: <span class="bold">{{totalMatches}}</span></p>
    </div>
  </div>
  <div class="row" *ngIf="play">
    <div class="panel panel-primary">
      <div class="panel-body ticket-wrapper">
        <div class="ticket-container">
          <div class="past-winning">
            <div *ngFor="let set of recentDrawings">
              <ul class="powerball well">
                <li class="ball" [ngClass]="play[i] === num ? 'match' : ''" *ngFor="let num of set; let i = index">
                  <span>{{num}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row button-row">
    <div class="col">
      <button class="btn btn-primary bottom-button" (click)="generateTicket()">Generate Numbers</button>
    </div>
  </div>
  <div *ngIf="history.length >= 1" class="panel panel-primary history">
    <div class="panel-heading history-heading">Generated History
      <!-- <span class="icon" (click)="copyTicketToClipboard()"><i class="fas fa-clipboard"></i></span></div> -->
    <ul class="history">
      <li *ngFor="let t of history">
        <span>{{t}}</span>
      </li>
    </ul>
  </div>
  <div *ngIf="recentDrawings" class="row button-row">
    <div class="col">
      <button (click)="open()" class="btn btn-secondary">Ways to win!</button>
    </div>
  </div>
  <div class="footer">
    <p>Powerball Ticket Generator &copy; {{year}}</p>
    <p>Developed by <a target="_blank" href="https://jessereese.com">Jesse Reese</a></p>
  </div>
</div>
